footer{

    padding-bottom: 2%;
    padding-top: 2%;

    display:flex;
    justify-content: space-around;
    background-color: white;
    border-top: 2px solid black;
}

footer div a img
{
    width: 50px;
    height: 50;
}
footer address{
    display: flex;
    color:#ffc045;
    align-self: center;
    font-weight: bold;
}

footer p{
    align-self:center;
    color:#ffc045;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
}
footer div{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
